{% extends 'base.html' %}

{% block body %}
<br/>

<div class="contianer">
    <table>
        <tr>
            <td><a href="\imageupload"><img class="img_setting" src="../static/pictures/UploadImage.jpeg"  alt="Image Upload" ></a></td>
            <td><a href="\employee"><img class="img_setting" src="../static/pictures/EmpManage.jpeg" alt="Employee Management"></a></td>
        </tr>
        <tr>
            <td align="center"><a href="\imageupload">Image Upload</a></td>
            <td align="center"><a href="\employee">Employee Management</a></td>
        </tr>
    </table>
</div>


{% endblock %}